@import '~%/breakpoints';

.collection-view {
  padding-bottom: 6px;

  .tbody {
    .tr {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .collection-view {
    header {
      .meta {
        h2 {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .collection-view {
    padding-bottom: 30px;
  }
}