@import 'colors';

// Flags

span.flag {
  position: relative;
  display: inline-block;
  top: -2px;
  padding: 3px 7px;
  border-radius: 4px;
  font-size: 0.8em;
  line-height: 1.4em;

  &.small {
    padding: 2px 4px;
    font-size: 0.8em;
  }
}

.flag {
  &.neutral {
    color: $color-text-dark;
    background-color: $color-status-neutral;
  }

  &.success {
    color: $color-text-light;
    background-color: $color-status-success;
  }

  &.warning {
    color: $color-text-dark;
    background-color: $color-status-warning;
  }

  &.danger {
    color: $color-text-light;
    background-color: $color-status-danger;
  }

  &.disabled {
    color: $color-text-light;
    background-color: #b7b7b7;
  }
}

.text-color {
  &.neutral {
    color: $color-status-neutral;
  }

  &.success {
    color: $color-status-success;
  }

  &.warning {
    color: $color-status-warning;
  }

  &.danger {
    color: $color-status-danger;
  }

  &.disabled {
    color: #b7b7b7;
  }
}

.background-color {
  &.neutral {
    color: $color-text-dark;
    background-color: $color-status-neutral;
  }

  &.success {
    color: $color-text-light;
    background-color: $color-status-success;
  }

  &.warning {
    color: $color-text-dark;
    background-color: $color-status-warning;
  }

  &.danger {
    color: $color-text-light;
    background-color: $color-status-danger;
  }

  &.disabled {
    color: $color-text-light;
    background-color: #b7b7b7;
  }
}
