.flexbox {
  display: flex;

  .flex {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .solid {
    flex: 1;
  }

  &.middle {
    align-items: center;
    justify-content: center;
  }
}