@import 'colors';
@import 'breakpoints';

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text-default;
  background-color: $color-background-default;
  overflow-x: hidden;

  &.modal-visible, &.alert-visible {
    main {
      position: static;
      z-index: auto;
    }
  }

  &.model-visible {
    .content {
      overflow: visible;
    }
  }
}

::selection {
  color: $color-text-light;
  background: transparentize($color-highlight, 0);
}

.divider {
  width: 100%;
  height: 3px;
  background: $color-background-default;
  margin: 6px 0;
}

// mobile
@media (max-width: $breakpoint-medium) {
  .grid {
    margin-bottom: 10px;
  }
}
