@import '~%/breakpoints';
// page header
header {
  display: flex;
  align-items: center;

  .meta {
    flex: 1 0 auto;
  }
  .actions {
    flex: 1 0 auto;
    text-align: right;

    & > div {
      display: inline-block;
    }
  }
}

@media (max-width: $breakpoint-small) {
  header {
    .meta {
      position: fixed;
      top: 28px;
      left: 50%;
      max-width: calc(100% - 200px);
      z-index: 9;
      transform: translateX(-50%);
      text-align: center;
      // text-overflow: ellipsis;
      // white-space: nowrap;

      h2 {
        font-size: 1.1em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    legend {
      display: none;
    }

    .actions {

    }
  }
}