@import '~%/breakpoints';

// page headers
header {
  display: flex;
  align-items: center;

  .meta {
    overflow: hidden;
    
    h2 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .actions {
    flex: 1;
    text-align: right;
    margin-left: 10px;

    & > div {
      display: inline-block;
    }
  }
}

// mobile headers
.title {
  display: none;
}

@media (max-width: $breakpoint-medium) {
  .title {
    display: inline-block;
    position: fixed;
    top: 28px;
    left: 50%;
    max-width: calc(100% - 200px);
    z-index: 9;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;

    h2 {
      font-size: 1em;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  header {
    legend {
      display: none;
    }
    .meta {
      h2 {
        margin: 8px 0 10px;
      }
    }
  }
}
