// page header
header {
  display: flex;
  align-items: center;

  .meta {
    flex: 1 0 0;
  }
  .actions {
    flex: 2 0 0;
    text-align: right;

    & > div {
      display: inline-block;
    }
  }
}