dl {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid $color-text-medium;

  dt {
    flex: 1 0 auto;
    color: $color-text-medium;
    margin-right: 10px;
  }
  dd {
    // flex: 1 0 auto;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}