dl {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid $color-text-medium;

  dt {
    // width: 20%;
    flex: 1 0 auto;
    color: $color-text-medium;
  }
  dd {
    flex: 1 0 auto;
    text-align: right;
  }
}
