.model-view {
  .actions {
    margin-bottom: 20px;
  }
  .header {
    .actions {
      margin-bottom: 0;
    }
  }
  dd {
    .actions {
      margin: 0 0 0 10px;
    }
  }
  .table {
    margin-bottom: 20px;
  }
}