@import '~%/colors';
@import '~%/boxes';
@import '~%/breakpoints';

.table {
  .tbody {
    .tr {
      .td {
        max-width: 100%;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // overflow: hidden;
      }
    }
  }
}

// mobile
@media (max-width: $breakpoint-medium) {
  .table {
    .thead {
      display: none;
    }
    .tbody {
      .tr {
        @include box_style;

        .td {
          &:not(:last-child) {
            margin-bottom: 4px;
          }

          &:first-child {
            display: inline-block;
            font-size: 1.3em;
            line-height: 1.3em;
            margin-bottom: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            label {
              display: none;
            }

            .flag {
              font-size: 12px;
            }
          }

          &.actions {
            margin-top: 14px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .header {
    margin-bottom: 10px;
  }
  header {
    margin-bottom: 10px;
    
    button {
      padding: .60em .75em;
      font-size: 0.9rem;
    }
  }
  label {
    display: inline-block;
    margin-right: 6px;
    color: $color-text-medium;
  }
}

// tablet & desktop
@media (min-width: $breakpoint-medium) {
  .table {
    display: table;
    width: 100%;

    .tr {
      display: table-row;
    }

    .td {
      display: table-cell;
    }

    .th {
      display: table-cell;
    }

    .thead {
      display: table-header-group;

      .tr {
        .th {
          margin-bottom: 10px;
          padding: 14px 20px;
          border-bottom: 1px solid white;
        }
      }
    }

    .tbody {
      display: table-row-group;
      color: $color-text-medium;

      .tr {
        .td {
          padding: 20px;
        }
        &:hover {
          background: lighten($color-background-default, 2%);
        }
        &:nth-child(even) {
          background: $color-box-background;
          border-top: 1px solid lighten($color-box-background, 10%);
          border-bottom: 1px solid lighten($color-box-background, 10%);

          &:hover {
            background: lighten($color-box-background, 2%);
          }
        }
      }
    }
  }

  // table container
  .table-container {
    position: relative;
    margin-bottom: 30px;
  }

  label {
    display: none;
  }
}

// table header
.header {
  display: flex;
  align-items: center;
  background: $color-box-background;
  padding: 12px 16px;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;

  .meta {
    // flex: 1 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .actions {
    // flex: 1 0 auto;
    flex: 1;
    text-align: right;
    margin-left: 10px;

    & > div {
      display: inline-block;
    }
  }
}