@import '~%/colors';

.tooltip {
  position: absolute;
  bottom: 100%;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.7em;
  white-space: nowrap;
  background: darken($color-background-dark, 5%);
  pointer-events: none;
}